//_colors.scss

//white mmth
.white
{
    background-color: $white !important;
}

.white_text
{
    color: $white !important;
}

//light_gray mmth
.light_gray
{
    background-color: $light-gray !important;
}

.light_gray_text
{
    color: $light-gray !important;
}

//black mmth
.black
{
    background-color: $black !important;
}

.black_text
{
    color: $black !important;
}

//red
.red
{
    background-color: $red !important;
}

.red_text
{
    color: $red !important;
}