//_variables.scss
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

$base_font_size: 16px;
$base_font_size_small: 16px;

//colors
$white:             #FFFFFF;
$light-gray:        #E5EAEE;
$black:             #181818;
$red:               #C4132F;

